nav {
	margin: 27px auto 0;
	position: relative;
	width: 75%;
	height: 15px;
	background-color: #f9b515;
	border-radius: 5px;
	font-size: 0;
}

nav a {
	line-height: 50px;
	height: 94%;
	display: inline-block;  
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
    font-size: 45px;
    margin-left: 30%;
    font-family: 'Playpen Sans', cursive;
}

.footer{
    margin-top: 7%;
}

h2{
    font-family: 'Playpen Sans', cursive;
    text-align: center;
}

h3{
    font-family: 'Playpen Sans', cursive;
    text-align: center;
}

p{
    font-family: 'Playpen Sans', cursive;
    text-align: center;
    font-size: 25px;
}

.container{
    /* background-image: url('./img/Index/Inicio.jpg'); */
    background-position: top center;
    background-size: contain;
    background-attachment: fixed;
    position:relative;
    z-index: 1;
    width: 75%;
    margin-left: 12%;
}

.botones{
    display: flex;
    justify-content: center;
    
}

.left{
    font-size: 50px;
    margin-right: 85%;
    color: #0A2D72;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}


.right{
    font-size: 50px;
    margin-left: 85%;
    color: #0A2D72;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}

.right:hover {
    color: #f9b515;
    cursor: pointer;
  }

.left:hover {
    color: #f9b515;
    cursor: pointer;
}

.procesos{
    margin-left: 28%;
    margin-top: 5%;
}