nav {
	margin: 27px auto 0;
	position: relative;
	width: 75%;
	height: 15px;
	background-color: #f9b515;
	border-radius: 5px;
	font-size: 0;
}

nav a {
	line-height: 50px;
	height: 94%;
	display: inline-block;  
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
    font-size: 45px;
    margin-left: 30%;
    font-family: 'Playpen Sans', cursive;
}

.footer{
    margin-top: 4%;
}

h2{
    font-family: 'Playpen Sans', cursive;
    text-align: center;
}

h3{
    font-family: 'Playpen Sans', cursive;
    text-align: center;
}

h5{
  font-family: 'Playpen Sans', cursive;
  text-align: center;
}

p{
  font-family: 'Playpen Sans', cursive;
  text-align: center;
  font-size: 20px;
}

ul{
  font-family: 'Playpen Sans', cursive;
  font-size: 20px;
}

.container{
    /* background-image: url('./img/Index/Inicio.jpg'); */
    background-position: top center;
    background-size: contain;
    background-attachment: fixed;
    position:relative;
    z-index: 1;
    width: 79%;
    margin-left: 12%;
}

.botones{
  display: flex;
  justify-content: center;
  
}

.left{
  font-size: 50px;
  margin-right: 85%;
  color: #0A2D72;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
}


.right{
  position: absolute;
  top: 40%;
  transform: translateY(-60%);
  margin-left: 41%;
  font-size: 270%;
  color: #0A2D72;
  border: #fff;
}

.right:hover {
  color: #f9b515;
  cursor: pointer;
}

.left:hover {
  color: #f9b515;
  cursor: pointer;
}


.circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f9b515;
    margin-left: 33%;
}

.button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0A2D72;
    color: #fff;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
    margin-top: 20%;
    margin-left: 20%;
  }
  
  .svgIcon {
    width: 10px;
    transition-duration: .3s;
    margin-left: 10%;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .button:hover {
    width: 50px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: #09184d;
    align-items: center;
  }
  
  .button:hover .svgIcon {
    width: 40px;
    transition-duration: .3s;
    transform: translateY(60%);
  }
  
  .button::before {
    position: absolute;
    top: -20px;
    color: white;
    transition-duration: .3s;
    font-size: 2px;
  }
  
  .button:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
  }

  .icon{
    font-size: 100px;
    color: #0A2D72;
    margin-left: 15%;
    margin-top: 5%;
}


.card  {
  width: 600px;
  background-color: #000000;
  color: #0a0a0a;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;

  font-family: 'Playpen Sans', cursive;
}


.btns{
  background-color: #f9b515;
}